@CHARSET "ISO-8859-1";

#myCanvas {
	border: 1px solid red;
	background-color: pink;
}

/* Styling needed for a fullscreen canvas and no scrollbars. */
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#date{
	width: 20%;
	float: right;
    color: white;
}

#date_heure{
	display: flex;
	justify-content: flex-end;
	padding-right: 5%;
	padding-top: 2%;
}

#allExcept_date{
	display: flex;
}

aside {
	display: flex;
	flex-direction: column;
}

#chat{
	display: flex;
}

#fps {
	justify-content: flex-start;
	width: 67px;
	height: 40px;
	background-color: black;
	color:white;
	word-wrap: break-word;
}

#starfield {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	left: 0px;
	top: 0px;
}

h1{
	display: flex;
	justify-content: center;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

#gamecontainer {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#gamecanvas {
	width: 800px;
	height: 600px;
}

.progressbar { 
    display: flex;
    justify-content: center;
    }

.progressnum{
  display: flex;
  justify-content: center;
}

footer {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#gameAndFooter{
	display: flex;
    flex-direction: column;
}